body {
	background-color: #fff;
	font: 1.1em Arial, Helvetica, sans-serif;
}
.container {
	columns: 3 180px;
	margin: 0 auto;
}
.figure {
	background-color: black;
}
.figure__img {
	display: block;
	margin-bottom: 1rem;
	object-fit: cover;
	width: 100%;
}
.figure__box {
	background: #00000080;
}
